@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: #f7f8fc;
}

input {
  outline: none;
  border: none;
}

input[type="search"] {
  border: none;
  outline: none;
  width: 80%;
  height: 40px;
}

input[type="submit"] {
  cursor: pointer;
}

form label {
  margin-top: 30px;
  /* margin-left: 30px; */
  color: whitesmoke;
  font-weight: bold;
  font-size: large;
}
.formError {
  height: 20px;
  color: red;
  text-align: center;
}
button {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}
ul {
  list-style-type: none;
}
.formContainer {
  background-color: rgb(0, 0, 0, 0.75);
  position: absolute;
  width: 22%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  border-radius: 10px;
  padding: 20px;
}
.registerForm {
  height: 550px;
}
.loginForm {
  height: 400px;
}

.loginInputSection {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  color: black;
  display: block;
  margin: 8px auto;
  padding-left: 10px;
  height: 40px;
  font-size: large;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
}

#loginBtn {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding-left: 0px;
  margin: 35px auto;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

.loginBtnWrapper{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signUpSpan {
  margin-left: 3px;
  color: blanchedalmond;
  cursor: pointer;
}
.formContainer p {
  width: 100%;
  text-align: center;
  margin: auto;
  color: #ffffff;
}


.accountWrapper{
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: auto;
  text-align: left;
  width: 25%;
  background-color:#e6e8ee ;
  border-radius: 8px;
  padding: 10px;
}

.accountHeader {
    position: relative;
    display: flex;
    align-items: center;
}

.accountList{
  width:100%;
  margin: 10px 0px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.accountList:hover{
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.352)
}

.accountBtns{
  display: block;
  cursor: pointer;
  background: #e6e8ee;
  font-size:medium;
  color: rgb(39, 39, 167);
}

.accountBtns :hover{
  text-decoration: underline;
}

.logoutAll{
  margin-top: 5px;
  color: rgb(222, 0, 0);
}

.accountNavBtns{
  padding: 5px;
}


.mainSection {
  display: flex;
}

table {
  table-layout: fixed;
}

tr {
  cursor: pointer;
  margin-top: 2px;
}

tr:hover {
  /* box-shadow: inset -3px -3px rgb(100 121 143 / 12%); */
  /* box-shadow: 0 -0.3em 0.3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
   box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mailContainer {
  position: absolute;
  top:10%;
  left:18%;
  height: 90vh;
  width: 80%;
  overflow: auto;
  background-color: #ffffff;
}
.mailList {
  display: flex;
}
.mailSectionContainer {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 8px;
}

.mail {
  height: 40px;
}

.star {
  /* background-color: #d3e3fd; */
  display: grid;
  place-items: center;
}

.sender {
  /* background-color: aqua; */
  width: 25%;
}
.body {
  /* background-color: blueviolet; */
  width: 55%;
  text-overflow: ellipsis;
}
.time {
  /* background-color: aquamarine; */
  width: 13%;
}

.navContainer {
  margin-left: 10px;
  width: 15%;
}

.composeButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  background-color: #c2e7ff;
  border-radius: 8px;
  padding: 0px 15px;
  margin: 10px 0px;
}

.composeButton span {
  font-size: x-large;
  font-weight: bold;
}

.navContainer ul li {
  cursor: pointer;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px 4px 30px;
  border-radius: 0px 8px 8px 0px;
}

.navContainer ul li:hover{
    background-color: #e3e3e3;
}

.activeSection{
  background-color: #d3e3fd !important;
}

.navContainer ul li span {
  font-size: larger;
}


.sectionHeading{
  width: 90px;
} 

.listDiv {
  width: 50%;
}

::placeholder {
  padding-left: 4px;
  font-size: large;
  letter-spacing: 0.4px;
  font-weight: 500;
}
/*Search bar*/
.searchContainer {
  margin: 10px;
  position: relative;
  display: flex;
}

.searchLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  border-radius: 10px;
  background-color: #e1e8f3;
  height: 60px;
}

.logoSpan {
  display: inline-block;
  /* width: 20%; */
  font-size: xx-large;
}

.searchBar {
  position: relative;
  width: 50%;
  margin: auto;
}

.searchBar input {
  background-color: #eef3fc;
  font-size: large;
  /* letter-spacing: 0.2px; */
  padding: 10px;
  border-radius: 10px;
  height: 50px;
}

.searchBar ::placeholder{
  padding-left: 2px;
  letter-spacing: 0px;
}

.searchBar button {
  position: absolute;
  width: 20%;
  background-color: #c2e7ff;
  border-radius: 10px;
  font-size: large;
  margin-left: 5px;
}

.currentUser {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 114, 40);
  position: absolute;
  right: 1.5%;
  cursor: pointer;
  color: whitesmoke;
}

.changeAccount {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.composeDiv {
  padding: 10px;
  background-color: #d5ecfc;
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 600px;
  z-index: 1;
  animation: composeHeightInc 0.1s linear;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.352);
}

@keyframes composeHeightInc {
  from{
    height: 0px;
  }
  to{
    height: 600px;
  }
}

.composeTopBar {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.sendButton {
  margin-top: 5px;
  width: 90px;
  height: 40px;
  background-color: #0b57d0;
  border-radius: 50px;
  color: #eef3fc;
  font-size: medium;
}


.composeDiv div {
}

.composeInputs input{
  border-radius: 5px;
  margin: 15px 0px 0px 0px;
  width: 100%;
  height: 25px;
  font-size: medium;
  padding-left: 2px;
}

/* .composeDiv div input {
 
} */
.composeDiv div input::placeholder {
  font-size: medium;
  color: #08071062;
  padding-left: 2px;
}
.composeDiv div textarea {
  width: 100%;
  font-size: medium;
  resize:none;
  padding: 5px;
  margin-top: 20px;
  max-height: 350px;
}

.message textarea {
  /* max-width: 100%;*/
}

.closeBtn {
  background: none;
}
.composeError {
  color: red;
  padding-left: 2px;
  height: 10px;
  font-size: small;
}

.mailCategory {
  font-size: xx-large;
}


.loadingClass {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  translate: transform(-30%, -50%);
  position: absolute;
  border: 10px solid #f3f3f3;
  border: 10px solid rgba(122, 123, 124, 0.8);
  border-top: 10px solid black;
  animation: loading 1s linear infinite;
}

.accountLoader{
  position: static;
  width: 27px;
  height: 27px;
  top: 0;
  left: 0;
  border: 5px solid rgba(122, 123, 124, 0.8);
  border-top: 5px solid black;

}

.loginLoader{
  position: static;
  width: 27px;
  /* top: 0;
  left:100%; */
  height: 27px;
  margin-left: 5px;
  border: 5px solid rgba(122, 123, 124, 0.8);
  border-top: 5px solid black;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg);
  }
  25% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.mailTitle {
  font-weight: bold;
  font-size: x-large;
}
.mailTitle::after {
  display: inline-block;
  content: "";
  width: 10px;
}
.mailMessage{
  /* min-height: 80vh; */
  margin-top: 30px;
  font-size: medium;
  line-height: 1.5;
  padding: 5px;
  white-space: pre-wrap;
}


#accounts {
  display: none;
}

.accountsClass {
  width: 250px;
  position: absolute;
  top: 110%;
  right: 1.5%;
  z-index: 1;
  aspect-ratio: 1;
  color: black;
  padding: 5px;
  background-color: #e6e8ee;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.352);
}
.accountsClass ul li {
  cursor: pointer;
  margin: 5px 2px;
}
.accountBtn button {
  /* position: absolute; */
  /* border: 2px solid black; */
  width: 100%;
  height: 30px;
  font-size: medium;
}


.accountBtnContainer{
  align-self: flex-end;
}

.accountBtn :hover {
  background-color: #eef3fc;
}

.logout button{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 6px 6px;
  margin: 5px auto;
  padding: 0px 15px;
  height: 35px;
  gap:15px;
  font-size: 20px;
}

.currentUserWrapper{
  border-radius: 6px 6px 0px 0px;
  padding: 5px;
  background-color: #ffffff;
}

.currentUserName{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.currentUserEmail{
  display: flex;
  align-items: center;
}

.accountBtnContainer button{
  margin: 5px auto 0px auto;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #ffffff;
  gap: 15px;
  height: 35px;
  border-radius: 6px;
}

.accountsClass ul li:hover {
  background-color: #ffffff;
}
.mailPage {
  padding: 15px;
  width: 60%;
  margin: 10px auto;
  background-color: #dff2ff;
  min-height: 50%;
  border-radius: 10px;
  height: fit-content;
}
.mailAddress {
  /* background-color: #ffffff; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fromAddress{
  display: flex;
  align-items: center;
  gap:15px;
}

.fromUsername{
  font-size: 20px;
}

.fromEmail {
  font-size: 13px;
  font-weight:400;
}

.toEmail{
  font-size: 15px;
}

.mailTimeStamp {
  background-color: #c2e7ff;
  max-width: 200px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.mailPageContainer {
  position: absolute;
  top:10%;
  left:18%;
  height: 90vh;
  width: 80%;
  overflow: auto;
  background-color: #ffffff;
  padding: 5px;
}

.emptyMessages{
  font-size:30px;
  margin-top: 50px;
  /* border: 2px solid green; */
  text-align: center;
}